__site/
_rss/
.DS_Store
franklin
franklin.pub
node_modules/
package-lock.json

Manifest.toml
**/*.log
**/*.txt
tutorials/*.md
tutorials/*/*.html
#notebooks/*.md
notebooks/*/*.html
notebooks/data/*

**/_tmp_*.jl
**/*backup*.jl
